
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
<body>
    <h2>OD Request Approved</h2>
    <p>Your On-Duty (OD) request for the Hackerz event has been approved. Please show this message to your class mentor and make sure your name is written in the OD note. After that, go directly to the venue mentioned below.

        Do not roam around or leave the venue without permission. Follow all instructions from the event coordinators. If anyone breaks the rules, the OD will be canceled, and future requests may not be approved.</p>
    <p><strong>Name:</strong> {{Name}}</p>
    <p><strong>Email:</strong> {{Email}}</p>
    <p><strong>Section:</strong> {{Section}}</p>
    <p><strong>Year:</strong> {{Year}}</p>
    <p><strong>Team/Reason:</strong> {{Team/Reason}}</p>
    <p><strong>From Time:</strong> {{From Time}}</p>
    <p><strong>To Time:</strong> {{To Time}}</p>
    <p><strong>Date:</strong> {{Date}}</p>
    <p><strong>Hall:</strong> {{Hall}}</p>
    <p><strong>Note:</strong> {{Note}}</p>
</body>
</html>
