
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
<body>
    <h2>OD Request Details</h2>
    <p><strong>Name:</strong> {{Name}}</p>
    <p><strong>Email:</strong> {{Email}}</p>
    <p><strong>Section:</strong> {{Section}}</p>
    <p><strong>Year:</strong> {{Year}}</p>
    <p><strong>Team/Reason:</strong> {{Team/Reason}}</p>
    <p><strong>From Time:</strong> {{From Time}}</p>
    <p><strong>To Time:</strong> {{To Time}}</p>
    <p><strong>Date:</strong> {{Date}}</p>
    <p><strong>Hall:</strong> {{Hall}}</p>
    <p><strong>Note:</strong> {{Note}}</p>
</body>
</html>
