<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
<body style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <div style="background-color: #f4f4f4; padding: 20px;">
        <h1>Welcome, {{Name}}!</h1>
        <p>Your email: {{Email}}</p>
        <p>Team:{{Team}}</p>
        <p>Venue:{{Venue}}</p>
        <p>Note:{{Note}}</p>
        <p>Thank you for registering with our platform.</p>
        <a href="#" style="background-color: #007bff; color: white; padding: 10px; text-decoration: none;">Activate Account</a>
    </div>
</body>
</html> -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
<body>
    <h2>OD Request Details</h2>
    <p><strong>Name:</strong> {{Name}}</p>
    <p><strong>Email:</strong> {{Email}}</p>
    <p><strong>Section:</strong> {{Section}}</p>
    <p><strong>Year:</strong> {{Year}}</p>
    <p><strong>Team/Reason:</strong> {{Team/Reason}}</p>
    <p><strong>From Time:</strong> {{From Time}}</p>
    <p><strong>To Time:</strong> {{To Time}}</p>
    <p><strong>Date:</strong> {{Date}}</p>
</body>
</html>
